.containerSercicios {
  display: flex;
  width: 1000px;
  margin-top: 60px;
}

.containerParrafoGeneral {
  width: 600px;
}

.parrafoGeneral {
  line-height: 1.5;
  font-size: 15px;
}

.containerPrecios {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
