header {
  width: 100%;
  background-color: #ffafcc;
  height: 40px;
  position: fixed;
  margin-top: 0;
  display: flex;
  justify-content: end;
}

.containerRedesSocialesTurno {
  display: flex;
  margin-right: 30px;
}

.redesSociales {
  display: flex;

  place-items: center;
}

.linkRedesSociales {
  text-decoration: none;
  color: #012a4a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  transition: all 500ms;
}

.linkRedesSociales:hover {
  transform: scale(1.2);
}

.solicitarTurno {
  display: flex;
  place-items: center;
  margin-right: 50px;
}

.linkTurno {
  text-decoration: none;
  color: #012a4a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  transition: all 500ms;
}

.linkTurno:hover {
  transform: scale(1.2);
}

.precentacion {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerImgPrecentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

.precentacionImg {
  width: 100%;
}

.parrafoPresentacion {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
  line-height: 1.5;
  margin-left: 10px;
  margin-right: 5px;
}

.segundaPresentacion {
  background-color: #a2d2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

.parrafoSegundaPresentacion {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5;
}

.segundaPresentacionImg {
  width: 100%;
  max-width: 700px;
  min-width: 320px;
}

.segundaPresentacionImg {
  width: 100%;
  margin-top: 30px;
}

.titulo {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 65px;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.containerMensajeFinal {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-top: 30px;
  padding: 20px 10px 20px 10px;
  background-color: #dbb3f1;
}

.mensajeFinal {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  max-width: 1000px;
  text-align: center;
}

footer {
  display: flex;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #cdb4db;

  align-items: center;
  justify-content: center;
}

.linkYouTube {
  display: flex;
  align-items: center;
  margin-right: 80px;
  text-decoration: none;
  color: #012a4a;
  transition: all 500ms;
}

.linkYouTube:hover {
  transform: scale(1.3);
}

.youTubeImg {
  margin-right: 5px;
}

.linkTelegram {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #012a4a;
  transition: all 500ms;
}

.linkTelegram:hover {
  transform: scale(1.3);
}

.telegramImg {
  margin-right: 5px;
}

.botonWhatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0px 10px 10px 0px;
  width: 85px;
  height: 85px;
  z-index: 1;
  transition: all 500ms;
}

.botonWhatsapp:hover {
  transform: scale(1.3);
}

@media (max-width: 800px) {
  .segundaPresentacionImg {
    width: 80%;
  }
}

@media (max-width: 1020px) {
  footer {
    flex-direction: column;
    align-items: center;
    height: 150px;
  }

  .linkYouTube {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
