header {
  /* border: solid 1px violet; */
  width: 100%;
  background-color: #FFAFCC;
  height: 40px;
  position: fixed;
  margin-top: 0;
  display: flex;
}

.precentacion {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  align-items: center;

}

.precentacionImg {
  width: 1000px;
}

.parrafoPresentacion {
  width: 1000px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
  line-height: 1.5;
}

.segundaPresentacion {
  background-color: #A2D2FF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parrafoSegundaPresentacion {
  width: 1000px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5;
}

.segundaPresentacionImg {
  width: 700px;
  margin-top: 30px;
}

h1 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.servTresPreguntas {
  display: flex;
  width: 1000px;
  margin-top: 60px;
}

.containerParrafoTresServ {
  width: 600px;
}

.parrafoTresServ {
  line-height: 1.5;
  font-size: 15px;
}

.servLecAmorVinculos {
  display: flex;
  width: 1000px;
  margin-top: 60px;
}

.containerParrafoAmorVinculos {
  width: 600px;
}

.parrafoAmorVinculos {
  line-height: 1.5;
  font-size: 15px;
}

.preciosAmorVinculos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.servLecturaGeneral {
  display: flex;
  width: 1000px;
  margin-top: 60px;
}

.containerParrafoLecturaGeneral {
  width: 600px;
}

.parrafoLecturaGeneral {
  line-height: 1.5;
  font-size: 15px;
}

.preciosLecturaGeneral {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.servManifestacion {
  display: flex;
  width: 1000px;
  margin-top: 60px;
}

















footer {
  /* border: solid 1px rgb(0, 217, 255); */
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #CDB4DB;
  margin-top: 50px;
}